.container{
    max-width: 1280px;
}
body{
    background-color: #222831;
     font-family: "Poppins", sans-serif;
}
nav ul{
    gap: 48px;
}
nav .navbar-nav .nav-link{
    color: #eeeeee;
    font-size: 18px;
}
/*======== banner ========*/
#banner {
    padding: 170px 201px;
}
#banner h1{
    color: #eeeeee;
    font-size: 96px;
    font-weight: 700;
    margin-bottom: 24px;
}
#banner button{
    background-color: #00adb5;
    color: #eeeeee;
    border: none;
    padding: 10px 30px;
    font-size: 16px;
    border-radius: 24px;
     text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#banner .btn-dowload{
    background-color: #393e46;
    color: #eeeeee;
    border: 1px solid #00adb5;
    padding: 10px 30px;
    font-size: 16px;
    border-radius: 24px;
     text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/*======== banner end ========*/
/*======== about start ========*/
#about{
    padding: 230px 201px;
}
#about h2{
    font-size: 64px;
    font-weight: 700;
    color: #eeeeee;
    margin-top: 65px;
}
#about span{
    font-size: 64px;
    font-weight: 700;
    color: #00adb5;
}

#about p{
    font-size: 18px;
    font-weight: 400;
    color: #eeeeee;
    max-width: 389px;
}
/*======== about end ========*/
/*======== work start ========*/
#work {
    padding: 230px 201px;
    background: url("../images/project.png") ;
    background-size: cover ;
}
#work h2{
    font-size: 64px;
    font-weight: 700;
    color: #eeeeee;
    margin-top: 65px;
}
#work button{
    background-color: #00adb5;
    color: #eeeeee;
    border: none;
    padding: 10px 30px;
    font-size: 16px;
    border-radius: 24px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#work .work-btn{
 background-color: #393e46;
    color: #eeeeee;
    border: 1px solid #00adb5;
    padding: 10px 30px;
    font-size: 16px;
    border-radius: 24px;
     text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#work span{
    font-size: 64px;
    font-weight: 700;
    color: #00adb5;
}

/*======== work end ========*/
#contact{
    padding: 230px 201px;
}
#contact h2{
    font-size: 64px;
    font-weight: 700;
    color: #eeeeee;
    margin-top: 65px;
}
